adabound==0.0.5
chumpy==0.70
einops==0.8.0
h5py==3.12.1
imgaug==0.4.0
kornia==0.8.0
lightning==2.5.0.post0
lpips==0.1.4
matplotlib==3.10.0
mediapipe==0.10.21
omegaconf==2.3.0
pytorch-lightning==2.5.0.post0
pytorch-msssim==1.0.0
scikit-image==0.25.1
scipy==1.15.1
tensorboard==2.18.0
torchfile==0.1.0
torchmetrics==1.6.1
transformers==4.48.2
torchfile==0.1.0
wandb==0.19.6
insightface==0.7.3
omegaconf==2.3.0
onnx==1.17.0
onnxruntime==1.20.1
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
pillow==10.2.0